
@{
    ViewBag.Title = "yenikat";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form  method="post" class="form-group">
    <div class="row" style="margin-top:15px">
        <label>Kategori Adı</label><br />
        <input type="text" class="form-control" name="kat_ad" style="margin-bottom:15px" />
    </div>
    <div class="row">
        <button class="btn btn-info">Kategori Ekle</button>
        
    </div>
</form>

