
@{
    ViewBag.Title = "yenimus";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div class="row container">
        <label class="" style="margin-right:20px;">Müşteri Adı</label>
        <input type="text" name="musteri_ad" value="" class="form-control" />
        <label style="margin-top:20px;">Müsteri Soyadı</label>
        <input type="text" name="musteri_soyad" value="" class="form-control" />

    </div>
    <div class="row" style="margin-top:20px;"></div>

    <button class="btn btn-info">Kategori Ekle</button>

</form>


